
{% extends 'base.html' %}

{% block Content %}
<div class="container pt-4">
  <div class="col-lg-5 shadow mx-auto p-0">
    <div class="alert alert-success ml-auto"> 
       <h2> Create Account </h2> 
     </div>
    <div class="p-4">
        <form method = "post" action="/signup/">
            {% csrf_token %}
            {{ form.as_p }}
            <hr>
            <input class="btn btn-warning mx-auto" type="submit" value="Create Account">
        </form>
    </div>
  </div>  

</div>
   
{% endblock %}
    

   

    